/.idea
/.git
/vendor
/var

# Files
/LICENSE
/Makefile
/docker-compose.yml
/docker-compose.override.yml

config/packages/dev/
config/packages/test/

.DS_Store
*.md

# Local files
/.phpunit.result.cache
/.php_cs.cache
